table{
    text-align: center;
    width: 50%;
    min-width: 300px;
    margin: auto;
    margin-top: 50px;
}

.table-border{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.names-align{
    text-align: left;
}

.linha-impar{
    background-color: rgb(240,248,255);
}